extends ../shared/template
block content
  h2 All Your Trips!
  .row
    .col-xs-12
      table.table.table.table-striped.table-hover
        thead
          th Trip Name
          th Cash
          th Start Trip
          th End Trip
          th Start Date
          th End Date
          th # of Stops
          th Total Distance
          th MPG
          th $ Gas/Gallon
          th Total Gallons
          th Gas will Cost
          th Cash Left
          th Photos
          th Events
        tbody
          each trip in trips
            tr(data-startName=trip.start, data-slat=trip.startLat, data-slng=trip.startLng, data-endname=trip.end, data-elat=trip.endLat, data-elng=trip.endLng)
              td: a(href='/trips/#{trip._id}')= trip.tripName
              td= trip.cash
              td= trip.start
              td= moment(trip.startD).format('MMM Do YYYY')
              td= trip.end
              td= moment(trip.endD).format('MMM Do YYYY')
              td stops
              td distance
              td= trip.mpg
              td= trip.gasCost
              td gallons
              td cost
              td difference
              td= trip.photos
              td= trip.events

block scripts
  script(src='/js/user/home.js')


