extends ../shared/template
block content
  h2= trip.tripName
  .row
    .col-xs-12
      #map
  .row
    .col-xs-4
      h2 Start
        h4= trip.start
    .col-xs-4
      h2 End
        h4= trip.end
    .col-xs-4
      h2 Photo
      .photo.thumbnail(style='background-image:url(#{trip.photo});')
    .col-xs-6
      form(role='form', method='post', action='/trips/#{trip._id}/stops')
      .form-group
        button.btn.btn-success#add-stop(type='button') Add Stop
      .form-group.stop-group
        input.form-control.stops(type='text', name='stops')
        button.btn.btn-primary(type='submit') Add Stops to Trip
    .col-xs-6



block scripts
  script(src='/js/user/show3.js')

