extends ../shared/template
block content
  h2 All Your Trips!
  .row
    .col-xs-12
      table.table.table.table-striped.table-hover
        thead
          th Trip Name
          th Cash
          th Start Trip
          th End Trip
          th Start Date
          th End Date
          th # of Stops
          th Total Distance
          th MPG
          th $ Gas/Gallon
          th Total Gallons
          th Gas will Cost
          th Cash Left
          th Photos
          th Events
        tbody
        each trip in trips
          tr
            td= trip.tripName
            td= trip.cash
            td= trip.start
            td= trip.end
            td= trip.startD
            td= trip.endD
            td stops
            td distance
            td= trip.mpg
            td= trip.gasCost
            td gallons
            td cost
            td difference
              td photos
              td events

block scripts
  script(src='/js/user/home.js')

